<footer>
	<div class="col">
		<h3>Get App</h3>
		<ul>
			<li><a href="#!" class="paddle_button" data-product="491999">Buy Now!</a></li>
		</ul>
	</div>

	<div class="col">
		<h3>Use For</h3>

		<ul>
		<li>Writing</li>
		<li>Planning</li>
		<li>Scheduling</li>
		<li>To-do Lists</li>
		<li>Note-taking</li>
		<li>And more…</li>
		</ul>
	</div>

	<div class="col">
		<h3 id="learn_more">Learn More</h3>

		<ul>
		<li><a href="/blog">Blog</a></li>
		<li><a href="https://support.doubledogsoftware.com">Support</a></li>
		<li><a class="fancyvideo5" onClick="_gaq.push(['_trackEvent', 'links', 'screencast2', 'Screencast 2']);" href="/static/gallery/screencastposter.png">Video</a></li>
		<li><a class="fancybox screenshotsfirst" onClick="_gaq.push(['_trackEvent', 'links', 'gallery', 'Gallery']);" rel="group" href="/static/gallery/1-simple.png">Screenshots</a></li>
		<li><a href="/releases">Releases</a></li>
		</ul>
	</div>

	<div class="col">
		<h3>Follow Us</h3>

		<ul>
		<li><a href="/newsletter">Newsletter</a></li>
		<li><a href="https://twitter.com/intent/user?screen_name=foldingtext">Twitter</a></li>
		<li><a href="/blog/atom.xml">RSS</a></li>
		</ul>
	</div>

	<div style="display:none;">
		<a class="fancybox" rel="group" href="/static/gallery/2-surprisingly_adept.png">b</a>
		<a class="fancybox" rel="group" href="/static/gallery/3-productivity_platform.png">b</a>
	</div>
</footer>
