<footer>
	<div class="col">
		<h3>Get App</h3>
		<ul>
			<li><a onClick="_gaq.push(['_trackEvent', 'links', 'demo', 'Demo']);" href="https://s3.amazonaws.com/foldingtext/FoldingText.dmg">Demo</a></li>
			<li><a href="https://itunes.apple.com/us/app/foldingtext/id540003654?mt=12&uo=4&at=11l9Nf" onClick="_gaq.push(['_trackEvent', 'links', 'appstore', 'App Store']);">Purchase<br /><br /><img src="/static/appstore.svg" /></a></li>
		</ul>
	</div>

	<div class="col">
		<h3>Use For</h3>

		<ul>
		<li>Writing</li>
		<li>Planning</li>
		<li>Scheduling</li>
		<li>To-do Lists</li>
		<li>Note-taking</li>
		<li>And more…</li>
		</ul>
	</div>

	<div class="col">
		<h3 id="learn_more">Learn More</h3>

		<ul>
		<li><a href="/about">About</a></li>
		<li><a href="http://support.foldingtext.com">Support</a></li>
		<li><a href="/posts/releases">Releases</a></li>
		<li><a href="/posts/extensions">Extensions</a></li>
		<li><a class="fancybox screenshotsfirst" onClick="_gaq.push(['_trackEvent', 'links', 'gallery', 'Gallery']);" rel="group" href="/static/gallery/1-simple.png">Screenshots</a></li>
		<li><a class="fancyvideo5" onClick="_gaq.push(['_trackEvent', 'links', 'screencast2', 'Screencast 2']);" href="/static/gallery/screencastposter.png">Watch Movie</a></li>
		<!--<li><a href="/sdk">FoldingText SDK</a></li>-->

		<!-- <li><a href="http://foldingtext.s3.amazonaws.com/FoldingText.dmg">Download Demo</a></li> -->
		</ul>
	</div>

	<div class="col">
		<h3>Follow Us</h3>

		<ul>
		<li><a href="/posts/atom.xml">Posts</a></li>
		<li><a href="https://twitter.com/intent/user?screen_name=foldingtext">Twitter</a></li>
		<li><a href="https://plus.google.com/103835916412808164341">Google+</a></li>
		<li><a href="http://www.facebook.com/FoldingText">Facebook</a></li>
		</ul>
	</div>

	<div style="display:none;">
		<a class="fancybox" rel="group" href="/static/gallery/2-surprisingly_adept.png">b</a>
		<a class="fancybox" rel="group" href="/static/gallery/3-productivity_platform.png">b</a>
	</div>
</footer>